/**
 * Created by carson on 2016/11/3.
 */
@import "../variable";

@mixin border-fun() {
    content: " ";
    height: 1px;
    position: absolute;
    transform-origin: 0 0;
}

@mixin border($radius: 0, $c: $border-color, $type: solid) {
    @include border-fun;

    border-radius: $radius * 2;
    border: 1px solid $c;
    height: 200%;
    left: 0;
    top: 0;
    transform: scale(.5);
    width: 200%;
}

@mixin border-t($c:  $border-color, $type: solid) {
    @include border-fun;

    border-top: 1px $type $c;
    left: 0;
    top: 0;
    transform: scaleY(0.5);
    width: 100%;
}

@mixin border-b($c:  $border-color, $type: solid) {
    @include border-fun;

    border-bottom: 1px $type $c;
    bottom: 0;
    left: 0;
    transform-origin: 0 100%;
    transform: scaleY(0.5);
    width: 100%;
}

@mixin border-l($c:  $border-color, $type: solid) {
    @include border-fun;

    border-left: 1px $type $c;
    height: 100%;
    left: 0;
    top: 0;
    transform: scaleX(0.5);
    width: 1px;
}

@mixin border-r($c:  $border-color, $type: solid) {
    @include border-fun;

    border-right: 1px $type $c;
    height: 100%;
    right: 0;
    top: 0;
    transform-origin: 0 100%;
    transform: scaleX(0.5);
    width: 1px;
}