/**
 * Created by carson on 2016/11/3.
 */

@mixin queryWidth( $min , $max ){
    @if $min == -1{
        @media screen and ( max-width: $max+px ) {
            html{
                font-size: ( ($max+1) / 375 ) * 100px;
            }
        }
    } @else if $max == -1{
        @media screen and ( min-width: $min+px ) {
            html{
                font-size: ( $min / 375 ) * 100px;
            }
        }
    } @else{
        @media screen and ( min-width: $min+px ) and ( max-width: $max+px ) {
            html{
                font-size: ( $min / 375 ) * 100px;
            }
        }
    }
}